body{
    background-color: #c3c3c3bd;
}
.logo-music{
    width: 150px;
    margin:auto;
}
.edit-button{
    font-size: 1.5em;
    position: absolute;
    right: 49px;
    top: 0;
}
.delete-button{
    font-size: 1.5em;
    position: absolute;
    right: 20px;
    top: 0;
    background-color: transparent;
    color: red;
    border:none;
    cursor: pointer;
}
.carousel-inner {
    max-height: 800px;
}
#img-slide{
    margin-top: -195px;
}
.footer-card{
    font-size: 90%;
    color: #6c757d;
    justify-content: flex-end;
}
.conteneur{
    background-color: #343A40;
    border-radius: 15px;
}
.conteneur-white{
    background-color: #ffffff;
    border-radius: 15px;
}
.spinner-border{
    margin: auto;
    display: block;
}
.button-create {
    border: none;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-size: 300% 100%;
    background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}
.button-create:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.logout-btn{
    background-color: transparent;
}
.btnregister {
    width: 8em;
    font-weight: 600;
    color: #fff !important;
    cursor: pointer;
    text-align: center;
    border: none;
    margin-right: 1em;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}
.btn-music {
    font-size: 1em;
    border-radius: 50px;

}
.title-home{
    text-align: center;
}
.jumbotron{
    height: 400px;
}
.btnregister:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}


